input {
   width: 50px;
}

form input {
    width: 80px;
}

#addItem {
    
    display: inline-block;
}

#totalPriceContainer {
    margin-top: 25px;
}

.addItemBar {
    width: auto;
    background-color: rgb(33, 33, 103);
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#additionalItemTitle {
    color: rgb(35, 221, 237);
    padding-top: 0px;
}

html {
    background-color: rgb(38, 113, 118);
}

